.landingBG{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 87.2vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/landingBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
}
.welcomeMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.welcomeMessage h1{
    font-size: 80px;
    color:white;
}
.welcomeMessage h2{
    color:rgb(235, 235, 235);
    font-weight: 400;
    margin-top: 10px;
}
.bottom{
    width: 120px;
    height: 3px;
    background-color: #009714;/*#ff9720*/
}
.welcomeMessage div:last-child{
    height: 150px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcomeMessage div:last-child a{
    overflow: auto;
    background-color: #62C068;
    border:none;
    color: white;
    font-size: 30px;
    padding: 15px 25px;
    font-weight: 500;
    border-radius: 5px;
}
/* .welcomeMessage div:last-child a{
    color:white
} */
@media(max-width: 544px){
    .welcomeMessage h1{
        font-size: 50px;
    }
    .landingBG {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/landingBG-small.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center center;
    }
}