@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap"); */
*{
  box-sizing: border-box;
  margin:0px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
::selection{
  background-color: green;
}
html {
  overflow-y: auto;
  scroll-behavior: smooth;

}
body {
  margin: 0px;
  word-wrap: break-word;
  font-kerning: normal;

}
a{
  text-decoration: none;
  color: black;
}
button:hover{
  cursor: pointer;
}
footer{
  display: flex;
  background-color: #0A0A0A;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
footer p{
  color:white;
  font-size: 20px;
}
/*STYLED TABLE*/
.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
@media (max-width: 400px){
  .styled-table{
    font-size: 12px;
    min-width: 100px;
  }

}
@media (max-width: 300px){
  .styled-table{
    display: none;
  }
}