@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
*{
    font-family: "Open Sans", sans-serif!important;
    margin: 0;
    padding: 0;
}
.welcomeWrapper{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/трактор-листни-торове1.jpg");
    background-size: cover;
    background-position:  center center;
    height: 87.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-top: 20vh; */
}
@media (max-width: 600px){
    .welcomeWrapper{
        background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/трактор-листни-торове2.jpg");

    }
}
p{
    line-height:calc(25px + .4vw);
    font-size: 20px;
}

h1{
    font-size: calc(32px + 1.5vw)!important;
    padding: 0px 20px;
    max-width: 1000px!important;
    margin-bottom: 50px;
}
.welcomeWrapper h1{
    /* font-size: 80px; */
    /* padding-bottom: 50px; */
    color:white;
    text-transform: uppercase;

}
.welcomeWrapper p{
    color: rgb(221, 221, 221);/*rgb(46, 46, 46)*/
    /* max-width: 1300px; */
    padding: 0 20px;
    max-width: 1300px;
    text-align: center;
}
.textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding-top: 80px;
    padding-bottom: 80px; */
    padding: 80px 20px;
}
.textContainer p{
    text-align: justify;
    /* margin-top: 80px; */
    max-width: 1300px;
}
.fullImage{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/tractor-spraying.jpg");
    background-size: cover;
    background-position:  center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media (max-width: 600px){
    .fullImage{
        background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/tractor-spraying2.jpg");

    }
}
.fullImage h1{
    /* font-size: 80px; */
    color:white;
    text-transform: uppercase;
    /* margin-bottom: 50px; */
}
.fullImage p{

    color: rgb(221, 221, 221);/*rgb(46, 46, 46)*/
    max-width: 1300px;
    text-align: center;
    padding: 0 20px;
    font-size: 30px;
}
@media (max-width: 730px){
    .fullImage p{
        font-size: 20px;
    }
    .welcomeWrapper{
        padding-top: 50px;
        justify-content: center;
        align-items: center;
    }
    .welcomeWrapper h1{
        /* padding-bottom: 20px; */
        font-size: 50px;
    }
    .textContainer{
        padding: 50px 10px;
    }

}
@media (max-width: 360px){
    .fullImage h1{
        font-size: 50px;
    }

}