@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
*{
    font-family: "Open Sans", sans-serif!important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
p{
    font-size: 20px;
}

li{
    font-size: 20px;
}
h2{
    font-size: calc(25px + 1vw);
}
h3{
    font-size: 22px;
}
h4{
    font-size: calc(20px +1vw);
}
#info{
    margin-bottom: 60px;
}
@media(max-width:600px){
    p{
        font-size: 16px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 20px;
    }
    li{
        font-size: 16px;
    }
}
/*STYLED TABLE*/
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: thin solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  @media (max-width: 400px){
    .styled-table{
      font-size: 12px;
      min-width: 100px;
    }
  
  }
  @media (max-width: 300px){
    .styled-table{
      display: none;
    }
  }
  /*UAN*/
  .welcomeWrapper{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/течен-тор-уан-бг.jpg");
    background-size: cover;
    background-position:  center center;
    height: 87.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 20vh;
}
@media (max-width: 600px){
    .welcomeWrapper{
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/течен-тор-уан-бг2.jpg");

    }
}
.welcomeWrapper h1{
    font-size: 70px;
    max-width: 1000px;
    color:white;
}
.welcomeWrapper p{
    font-size: 30px;
    color: rgb(221, 221, 221);/*rgb(46, 46, 46)*/
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    width: 100%;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px;
    background-color: rgb(0, 0,0,0.5);

}
.navigation a{
    font-size: 16px;
    color: white;
    margin-right: 5px;
}
.navigation h2{
    color: white;
    margin-right: 5px;
}
@media (max-width: 1024px){
    .welcomeWrapper h1{
        font-size: 50px;
    }
    .welcomeWrapper p {
        font-size: 30px;
        margin-top: 20px;
    }
    .navigation button{
        font-size: 15px;
    }
}
@media (max-width: 900px){
    /* .navigation {
        display: none;
    } */
}

/*INFO WRAPPER*/
.infoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding-top: 80px;
    background-color: rgb(245, 245, 245);
}
.infoWrapper tr,th{
    text-align: left;
}
.sideToSide{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
}
.sideToSide p{
    max-width: 450px;
    text-align: justify;
}
.sideToSide img{
    max-width: 400px;
    min-width: 200px;
}
.rightElement {
    margin-left: 80px;
}
.bigInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 60px 20px;
}
.bigInfo p{
    margin-top: 60px;
    max-width: 100%;
    text-align: justify;
}
@media (max-width: 1005px){
    .sideToSide{
        flex-direction: column-reverse;
        align-items: center;
    }
    .rightElement{
        margin-left: 0px;
        margin-bottom: 40px;
    }
}
/*Technicals*/
.technicalsWrapper{
    padding-top: 80px;
    /* padding-bottom: 50px; */
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.technicalsWrapper h3{
   color: rgb(61, 61, 61); 
   margin-top: 10px;
}
.technicals{
    margin: 80px 0px;
    text-align: left;
    /* max-width: 1100px; */
    padding: 0px 20px;
}
.technicals > div{
    align-items: left;
    margin-top: 20px;
}
.technicals > div:first-child{
    margin-top: 0px;
}
.technicals p{
    text-align:justify;
    margin: 10px 0 20px 0;
}
.technicals p:last-child{
    margin-bottom: 0;
}
#list ul{
    overflow: auto;

}
#list ul li {
    list-style-type:disc!important;
}
@media (max-width: 900px){
    .navigation{
        display: none;
    }
}
@media (max-width: 1000px){
    p{
        line-height: 25px;
    }
    /* p{
        padding:10px;
    } */
    .bigInfo{
        padding: 60px 10px;
    }
}
@media (max-width: 524px){
    .welcomeWrapper h1{
        font-size: 30px;
    }
    .welcomeWrapper p{
        font-size: 20px;
    }
}
@media (max-width: 470px){
    /* h2{
        font-size: 18px;
    }
    h3{
        font-size: 14px;
    }
    h4{
        font-size: 14px;
    }
    li{
        font-size: 12px;
    }
    p{
        font-size: 12px;
    } */
    .technicals{
        padding: 0px 0px;
    }
    .rightElement{
        padding: 0px 10px;
    }
    .technicalsWrapper{
        padding: 60px 10px;
        padding-top: 60px;
    }
    .sideToSide{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .sideToSide img{
        max-width: 100px;
        min-width: none;
    }
    #tractor{
        display: none;
    }
    .technicals:last-child{
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
/* .leftText{
    text-align: left;
} */